policy_module(ggcash, 1.100.1)

########################################
#
# Declarations
#

type ggcash_t;
type ggcash_exec_t;
init_daemon_domain(ggcash_t, ggcash_exec_t)

permissive ggcash_t;

type ggcash_initrc_exec_t;
init_script_file(ggcash_initrc_exec_t)

type ggcash_conf_t;
files_type(ggcash_conf_t)

type ggcash_var_lib_t;
files_type(ggcash_var_lib_t)

type ggcash_var_run_t;
files_type(ggcash_var_run_t)

type ggcash_port_t;
corenet_port(ggcash_port_t)

########################################
#
# ggcash local policy
#
allow ggcash_t self:process { fork };

allow ggcash_t self:fifo_file rw_fifo_file_perms;
allow ggcash_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(ggcash_t, ggcash_conf_t, ggcash_conf_t)
manage_files_pattern(ggcash_t, ggcash_conf_t, ggcash_conf_t)

manage_dirs_pattern(ggcash_t, ggcash_var_lib_t, ggcash_var_lib_t)
manage_files_pattern(ggcash_t, ggcash_var_lib_t, ggcash_var_lib_t)
files_var_lib_filetrans(ggcash_t, ggcash_var_lib_t, { dir file })

manage_dirs_pattern(ggcash_t, ggcash_var_run_t, ggcash_var_run_t)
manage_files_pattern(ggcash_t, ggcash_var_run_t, ggcash_var_run_t)

sysnet_dns_name_resolve(ggcash_t)
corenet_all_recvfrom_unlabeled(ggcash_t)

allow ggcash_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(ggcash_t)
corenet_tcp_sendrecv_generic_node(ggcash_t)
corenet_tcp_sendrecv_all_ports(ggcash_t)
corenet_tcp_bind_generic_node(ggcash_t)

gen_require(`
    type ggcash_port_t;
')
allow ggcash_t ggcash_port_t:tcp_socket name_bind;

gen_require(`
    type ggcash_port_t;
')
allow ggcash_t ggcash_port_t:tcp_socket name_connect;

domain_use_interactive_fds(ggcash_t)

files_read_etc_files(ggcash_t)

miscfiles_read_localization(ggcash_t)

sysnet_dns_name_resolve(ggcash_t)

allow ggcash_t ggcash_exec_t:file execute_no_trans;
allow ggcash_t self:process setsched;
corecmd_exec_ls(ggcash_t)
corenet_tcp_connect_http_port(ggcash_t)
dev_read_urand(ggcash_t)
fs_getattr_xattr_fs(ggcash_t)
kernel_read_system_state(ggcash_t)
